{% extends 'home/template.html' %}

{% block header %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/home.css' %}" />

            <div class="jumbotron vertical-center" id="enquire_jumo">
                <h4 class="red_bar" id="jumbo_heading" >Enquire Today</h4>
                <div class="red_bar close_popup"></div>
                <!--Form-->
                {% if enquiry_form.errors %}
                {% for field in enquiry_form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% endif %}
                {{message}}
                {% if enquiry_form %}
                {% csrf_token %}
                <form id="contact-form" name="contact-form" method="POST" action ="{% url 'main' %}" enctype="multipart/form-data">
                    <div class="contact-form">
                        {{enquiry_form.description}}
                    </div>
                    <!--row-->
                    <div class="form-row">
                        <!--col-->
                        <div class="col-md-8">
                            <div class="contact-form">
                                {{enquiry_form.name}}
                            </div>
                        </div>
                        <!--col-->
                        <div class="col-md-4">
                            <div class="contact-form">
                                {{enquiry_form.postcode}}
                            </div>
                        </div>
                    </div>
                    <!--row-->
                    <div class="form-row">
                        <!--col-->
                        <div class="col-md-8">
                            <div class="contact-form">
                                {{enquiry_form.email}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-form">

                                {{enquiry_form.phone}}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <!--col-->
                        <div class="col-md-7 d-flex align-content-center">
                            {% for choice in enquiry_form.category.field.choices %}
                            <!--<li style="list-style-type:None;">-->
                            <input class='enquire_radio_circle' type="radio" name="category" value="{{choice.0}}" id="{{choice.0}}"
                                   {% ifequal enquiry_form.category.data choice.0 %}
                                   checked="checked"
                                   {% endifequal %}/>
                            <label class='enquire_radio' for="{{choice.0}}"> {{choice.1}} </label>
                            <!--</li>-->
                            {% endfor %}
                        </div>
                        <!--col-->
                        <div class="col-md-5 d-flex flex-row-reverse mobile_margin">
                            <label for="submit_btn" class="enquire_button">
                                Submit
                            </label>
                            <button type="submit" class="btn btn-default enquire_button_none"><input class="clickable none" id="submit_btn" type ="submit"  name = "send"/></button>

                            <label for="id_attach" class="attach_btn">
                                <span class="file-selected">Attach File</span>
                            </label>
                            {{enquiry_form.attach}}
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
{% endblock %}

{% block content %}
<!--Body-->
<main class="container-fluid">
    <div>
        <!--facts row-->
        <div class="row home_body_pad">
            <!--col-->
            <a class="col-md-4 fact_col color-1 boxs click_squ"  href="{% url 'about_view' %}">
                <h5 class="facts facts_bold facts90 snow click_squ">£20m +</h5>
                <h4 class="facts facts_bold snow click_squ">Of Compensation</h4>
                <h4 class="facts snow click_squ">Negotiated. Negated. Agreed.</h4>
                <p class="more_info snow click_squ">• On over 300 Projects.</p>
                <p class="more_info snow click_squ">• Acting for Developers and Neighbours.</p>
                <p class="more_info snow click_squ">• Providing bespoke and strategic advice.</p>
            </a>
            <!--col-->
            <div class="col-md-4 padding-new">
                <div class="case_box">
                    <a href="{% url 'case_studies_view' index=2%}"><img class="case_img" src="{% static 'home/images/case/CASE_LARGE1_NW3_SQU.jpg' %}">
                        <p class="center_over_case">NW3</p>
                    </a>
                </div>
            </div>
            <!--col-->
            <a class="col-md-4 fact_col color-2 boxs click_squ"  href="{% url 'about_view' %}">
                <h5 class="facts snow facts_bold facts80 click_squ">Over 25 Years' Experience.</h5>
                <h4 class="facts snow click_squ">Experts in Property</h4>
            </a>
        </div>

        <!--case study row-->
        <div class="row home_body_pad case_correct_padding">
            <!--col-->
            <div class="col-md-4 padding-new">
                <div class="case_box">
                    <a href="{% url 'case_studies_view' index=1%}"><img class="case_img" src="{% static 'home/images/case/CASE_LARGE2_RM1_SQU.jpg' %}">
                        <p class="center_over_case">RM1</p>
                    </a>
                </div>
            </div>
            <!--col-->
            <div class="col-md-4 fact_col boxs">
                <a href="{% url 'about_view' %}" class="bodySquLink"><h5 class="facts facts_bold facts90 underline">Talk to Us.</h5></a>
                <a href="tel:+02070611100" class="bodySquLink"><h6 class="click_squ facts facts_bold line2">0207 061 1100</h6></a>
                <a href="mailto:info@awh.co.uk?Subject=Enquire" target="_top" class="bodySquLink"><h6 class="click_squ facts facts30 line2">info@awh.co.uk</h6></a>
                <h6 class="facts facts30">12 Dorrington Street</h6>
                <h6 class="facts facts30">London</h6>
                <h6 class="facts facts30">EC1N 7TB</h6>
            </div>
            <!--col-->
            <div class="col-md-4 padding-new">
                <div class="case_box">
                    <a href="{% url 'case_studies_view' index=3%}"><img class="case_img" src="{% static 'home/images/case/CASE_LARGE3_NW8_SQU.jpg' %}">
                        <p class="center_over_case">NW8</p>
                    </a>
                </div>
            </div>
        </div>

        <!--map row-->
        <div class="row home_body_pad">
            <!--col-->
            <div class="col-md-4 mini_cont padding_top15 mobile_width">
                <h4 class="snow what_we_do_news">What we do</h4>
                <p class="mini_txt snow">Anderson Wilde and Harris are a multidisciplinary Chartered Surveying company with a specialist Rights of Light and Daylight and Sunlight Surveyors. The team have over 25 years’ experience in advising on both  Developer’s and the surrounding neighbours.</p>
            </div>
            <!--col-->
            <div class="col-md-4 padding-new">
                <div class="col-md-3 map_container" id="map">
                    <!--requires API key-->
                    <!--<iframe id="map_frame" width="1000" height="1000" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJRzyAIkwbdkgRCHz-tEf3D2Y&key=AIzaSyCiZxvmE2VQes9sbcocDG8jWA5kf3v2fok" allowfullscreen></iframe>-->
                </div>
            </div>
            <!--col-->
            <div class="col-md-4 padding_top15 color-1 mobile_width">
                <h4 class="what_we_do_news snow">News and Resources</h4>
                <p class="news_date mini_txt snow">00/00/00.</p>
                <p class="news_content mini_txt snow">Content nsdofnrpgiah ikbfaeorjbg ieubfiqe <a class="news_link">read more...</a></p>
                <p class="news_date mini_txt snow">00/00/00.</p>
                <p class="news_content mini_txt snow">Content nsdofnrpgiah ikbfaeorjbg ieubfiqe <a class="news_link">read more...</a></p>
                <p class="news_date mini_txt snow">00/00/00.</p>
                <p class="news_content mini_txt snow">Content nsdofnrpgiah ikbfaeorjbg ieubfiqe <a class="news_link">read more...</a></p>
            </div>
        </div>

    </div>
</main>


<script type="text/javascript" src="{% static 'home/js/map.js' %}" ></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiZxvmE2VQes9sbcocDG8jWA5kf3v2fok&callback=initMap">
</script>
<script type="text/javascript" src="{% static 'home/js/looks.js' %}" ></script>
<script type="text/javascript" src="{% static 'home/js/case_studies_nohov.js' %}" ></script>

{% endblock %}
<!--{  % block enquire_button %  }{  % endblock %  }-->
