<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles/home.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles/generic.css' %}" />

    <!--other css-->
    <link rel="stylesheet" href="https://use.typekit.net/ekb4avl.css">


    <title>AWH - Rights of Light</title>
</head>
<body>
    <!--Responsive Navbar-->
    <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
        <!--Collapse Button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
        <!--Links-->
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">About AWH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rights of Light</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Daylight and Sunlighting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Party Wall</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Image and Form Container-->
    <div>
        <div id="banner_container">
            <div class="jumbotron vertical-center" id="enquire_jumo">
                <h4>Enquire Today</h4>
                <!--Form-->
                <form id="contact-form" name="contact-form"  action="mail.php" method="POST">
                    <div class="contact-form">
                        <textarea class="form-control" rows="1" id="comment" placeholder="Description"></textarea>
                    </div>
                    <!--row-->
                    <div class="form-row">
                        <!--col-->
                        <div class="col-md-8">
                            <div class="contact-form">
                                <input type="text" class="form-control" id="name" placeholder="Name">
                            </div>
                        </div>
                        <!--col-->
                        <div class="col-md-4">
                            <div class="contact-form">
                                <input type="text" class="form-control" id="postcode" placeholder="Postcode">
                            </div>
                        </div>
                    </div>
                    <!--row-->
                    <div class="form-row">
                            <!--col-->
                            <div class="col-md-8">
                                <div class="contact-form">
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="contact-form">
                                    <input type="tel" class="form-control" id="number" placeholder="Phone number">
                                </div>
                            </div>
                    </div>
                    <div class="form-row">
                        <!--col-->
                        <div class="col-md-7 d-flex align-content-center">
                            <!--Radio Buttons-->
                            <input type="radio" name="opt_form" class="enquire_radio_circle" checked>
                            <label class="radio-inline enquire_radio">Developer</label>
                            <input type="radio" name="opt_form" class="enquire_radio_circle">
                            <label class="radio-inline enquire_radio">Architect</label>
                            <input type="radio" name="opt_form" class="enquire_radio_circle">
                            <label class="radio-inline enquire_radio">Neighbour</label>
                            <input type="radio" name="opt_form" class="enquire_radio_circle">
                            <label class="radio-inline enquire_radio">Other</label>

                        </div>
                        <!--col-->
                        <div class="col-md-5 d-flex flex-row-reverse">
                            <button type="submit" class="btn btn-default enquire_button">Submit</button>
                            <button type="file" class="btn btn-default enquire_button">Attach Document</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <img id="home_page_banner_img" src="https://placeimg.com/1980/500/nature">
    </div>

    <!--Body-->
    <div>
        <!--facts row-->
        <div class="row">
            <!--col-->
            <div class="col-md-4 colour1">
                <h5 class="facts">• Over £10m+ of compensation</h5>
            </div>
            <!--col-->
            <div class="col-md-4 colour2">
                <h5 class="facts">• Over 25+ years' expertise</h5>
            </div>
            <!--col-->
            <div class="col-md-4 colour1">
                <h5 class="facts">• What we do</h5>
            </div>
        </div>

        <!--facts row-->
        <div class="row">
            <!--col-->
            <div class="col-md-12 colour2">
                <h5 class="facts2">We have extensive experience working for both Developer and Neighbours in providing strategic advice from acquisition to completion. We are always ready to discuss your queries.</h5>
            </div>
        </div>


        <!--case study row-->
        <div class="row">
            <!--col-->
            <div class="col-md-3 case_box">
                <img class="case_img" src="https://placeimg.com/500/500/arch">
                <a href="#" class="center_over_case">Case 1</a>
            </div>
            <!--col-->
            <div class="col-md-3 case_box">
                <img class="case_img" src="https://placeimg.com/500/500/arch">
                <a href="#" class="center_over_case">Case 2</a>
            </div>
            <!--col-->
            <div class="col-md-3 case_box">
                <img class="case_img" src="https://placeimg.com/500/500/arch">
                <a href="#" class="center_over_case">Case 3</a>
            </div>
            <div class="col-md-3">
                <!--requires API key-->
                <!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJRzyAIkwbdkgRCHz-tEf3D2Y&key=..." allowfullscreen></iframe>-->
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer class="footer">
        <!--row-->
        <div class="row">
            <!--col-->
            <div class="col-md-3">
                <p class="footer_col_h" >Links</p>
                <a class="footer-link" href="#">Linked In</a><br />
                <a class="footer-link" href="#">Blog</a><br />
                <a class="footer-link" href="#">Q2 Update</a>
            </div>

            <!--col-->
            <div class="col-md-3">
                <p class="footer_col_h" >Residential</p>
                <a class="footer-link" href="#">Site Link 1</a><br />
                <a class="footer-link" href="#">Site Link 2</a><br />
                <a class="footer-link" href="#">Site Link 3</a>
            </div>

            <!--col-->
            <div class="col-md-3">
                <p class="footer_col_h" >Commercial</p>
                <a class="footer-link" href="#">Site Link 1</a><br />
                <a class="footer-link" href="#">Site Link 2</a><br />
                <a class="footer-link" href="#">Site Link 3</a>
            </div>

            <!--col-->
            <div class="col-md-3">
                <p class="footer_col_h" >Development</p>
                <a class="footer-link" href="#">Site Link 1</a><br />
                <a class="footer-link" href="#">Site Link 2</a><br />
                <a class="footer-link" href="#">Site Link 3</a>
            </div>
        </div>
        <!--row-->
        <div class="row">
            <p class="footer_copy" >Copyright © 1995 - 2018 Anderson Wilde & Harris. All rights reserved</p>
        </div>
    </footer>


    <!--Scripts for Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--Other Scripts-->

</body>
</html>