{% extends 'home/template.html' %}

{% block header %}

{% load static %}
<!--Page Specific Styles-->
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/case.css' %}" />
<script type="text/javascript" src="{% static 'home/js/tab_index.js' %}" ></script>

{% endblock %}

{% block content %}
<div class="main">
    <div class="container-fluid bottom_pad">
        <div id="accordion">
            <!--row-->
            <div class="row case-row-btm case-row-top">
                <!--case study row-->
                <div class="row">
                    <!--col-->
                    <div class="col-md-4 padding-new padding-left">
                        <div id="collapse_image1" class="case_box" onclick="toggle_fade(1)">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><img class="case_img" src="{% static 'home/images/case/CASE_NW3.png' %}">
                                <p class="center_over_case">NW3</p>
                            </a>
                        </div>
                        <div data-parent="#accordion" class="collapse arrow_box arrow_box_L tabs_small">
                            <div class="coll_content">
                                <h3>NW3</h3>
                                <p>NW3 experienced different phases in which we have consulted the Developer and his Architect to optimise the site. In first instance the proposal was to convert the internal from commercial to residential. Following this two-additional storey and side extension were designed. Finally implementing a stepped rear extension.</p>
                                <p>Service Provided:</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Pre-Acquisition Advice.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Initial Feasibility.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Site Optimisation.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight Assessment.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Assessment of the Proposed Development.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Full Rights of Light Report.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Strategic Advice and Negotiation.</p>
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_NW3_SUB1.png' %}">
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_NW3_SUB2.png' %}">
                            </div>
                        </div>
                    </div>
                    <!--col-->
                    <div class="col-md-4 padding-new">
                        <div id="collapse_image2" class="case_box" onclick="toggle_fade(2)">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><img class="case_img" src="{% static 'home/images/case/CASE_W1.png' %}">
                                <p class="center_over_case">W1</p>
                            </a>
                        </div>
                        <div data-parent="#accordion" class="collapse arrow_box arrow_box_L tabs_small">
                            <div class="coll_content">
                                <h3>W1</h3>
                                <p>W1 is located in prime central London and consisted on an infill. The proposal was surrounding by commercial properties of high value which could have caused implication to the project if not resolved.</p>
                                <p>Service Provided:</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Site Optimisation.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Full Rights of Light Report.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Strategic Advice and Negotiation.</p>
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_W1_SUB1.png' %}">
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_W1_SUB2.png' %}">
                            </div>
                        </div>
                    </div>
                    <!--col-->
                    <div class="col-md-4 padding-new padding-right">
                        <div id="collapse_image3" class="case_box" onclick="toggle_fade(3)">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><img class="case_img" src="{% static 'home/images/case/CASE_CM14.png' %}">
                                <p class="center_over_case">CM14</p>
                            </a>
                        </div>
                        <div data-parent="#accordion" class="collapse arrow_box arrow_box_L tabs_small">
                            <div class="coll_content">
                                <h3>CM14</h3>
                                <p>CM14 was the redevelopment of a villa with a contemporary addition to the rear. The site was restrictive and concerns were raised to the adequacy of the daylighting to the proposed development, in particular to the units which were to be converted, in the existing building. The proposal was surrounded by commercial properties.</p>
                                <p>Service Provided:</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight Assessment.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Assessment of the Proposed Development.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Full Rights of Light Report.</p>
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_CM14_SUB1.png' %}">
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_CM14_SUB2.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--collapse content-->
            <div data-parent="#accordion" class="collapse arrow_box arrow_box_L tabs_large">
                <div class="coll_content">
                    <div class="row">
                        <div class="col-4">
                            <h3>NW3</h3>
                            <p>NW3 experienced different phases in which we have consulted the Developer and his Architect to optimise the site. In first instance the proposal was to convert the internal from commercial to residential. Following this two-additional storey and side extension were designed. Finally implementing a stepped rear extension.</p>
                            <p>Service Provided:</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Pre-Acquisition advice.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Initial feasibility.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Site optimisation.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical analysis.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight assessment.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Assessment of the proposed development.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Full Rights of Light report.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Strategic advice and negotiation.</p>
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_NW3_SUB1.png' %}">
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_NW3_SUB2.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div data-parent="#accordion" class="collapse arrow_box arrow_box_C tabs_large">
                <div class="coll_content">
                    <div class="row">
                        <div class="col-4">
                            <h3>W1</h3>
                            <p>W1 is located in prime central London and consisted on an infill. The proposal was surrounding by commercial properties of high value which could have caused implication to the project if not resolved.</p>
                            <p>Service Provided:</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Site Optimisation.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Full Rights of Light Report.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Strategic Advice and Negotiation.</p>
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_W1_SUB1.png' %}">
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_W1_SUB2.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div data-parent="#accordion" class="collapse arrow_box arrow_box_R tabs_large">
                <div class="coll_content">
                    <div class="row">
                        <div class="col-4">
                            <h3>CM14</h3>
                            <p>CM14 was the redevelopment of a villa with a contemporary addition to the rear. The site was restrictive and concerns were raised to the adequacy of the daylighting to the proposed development, in particular to the units which were to be converted, in the existing building. The proposal was surrounded by commercial properties.</p>
                            <p>Service Provided:</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight Assessment.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Assessment of the Proposed Development.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Full Rights of Light Report.</p>
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_CM14_SUB1.png' %}">
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_CM14_SUB2.png' %}">
                        </div>
                    </div>
                </div>
            </div>

            <!--row-->
            <div class="row case-row-btm">
                <!--case study row-->
                <div class="row">
                    <!--col-->
                    <div class="col-md-4 padding-new padding-left">
                        <div id="collapse_image4" class="case_box" onclick="toggle_fade(4)">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><img class="case_img" src="{% static 'home/images/case/CASE_EC1.png' %}">
                                <p class="center_over_case">EC1</p>
                            </a>
                        </div>
                        <div data-parent="#accordion" class="collapse arrow_box arrow_box_L tabs_small">
                            <div class="coll_content">
                                <h3>EC1</h3>
                                <p>EC1 is a small commercial development. The development was to extend the rear to full height. It was surrounded by residential and commercial properties.</p>
                                <p>Service Provided:</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Initial Feasibility.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Design Cutbacks.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight Assessment.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Full Rights of Light Report.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Strategic Advice and Negotiation.</p>
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_EC1_SUB1.png' %}">
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_EC1_SUB2.png' %}">
                            </div>
                        </div>
                    </div>

                    <!--col-->
                    <div class="col-md-4 padding-new">
                        <div id="collapse_image5" class="case_box" onclick="toggle_fade(5)">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><img class="case_img" src="{% static 'home/images/case/CASE_SW12.png' %}">
                                <p class="center_over_case">SW12</p>
                            </a>
                        </div>
                        <div data-parent="#accordion" class="collapse arrow_box arrow_box_L tabs_small">
                            <div class="coll_content">
                                <h3>SW12</h3>
                                <p>SW12 was the redevelopment of an old villa and warehouse. The proposal was to demolish the rear warehouse and create new build to replace it. Further to this to new additions would be integrated either side.</p>
                                <p>Service Provided:</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Initial Feasibility.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Site Optimisation.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Design Cutbacks.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight Assessment.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Assessment of the Proposed Development.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Full Rights of Light Report.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Disposal of property as selling agents.</p>
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_SW12_SUB1.png' %}">
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_SW12_SUB2.png' %}">
                            </div>
                        </div>
                    </div>
                    <!--col-->
                    <div class="col-md-4 padding-new padding-right">
                        <div id="collapse_image6" class="case_box" onclick="toggle_fade(6)">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><img class="case_img" src="{% static 'home/images/case/CASE_RM1.png' %}">
                                <p class="center_over_case">RM1</p>
                            </a>
                        </div>
                        <div data-parent="#accordion" class="collapse arrow_box arrow_box_L tabs_small">
                            <div class="coll_content">
                                <h3>RM1</h3>
                                <p>RM1 consisted of the redevelopment of a site in Romford. The proposal was to provide in 200 homes. The development was surrounded by a number of properties and due to the scale and proximity would cause an impact.</p>
                                <p>Service Provided:</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Initial Feasibility.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Full Rights of Light Report.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Strategic Advice and Negotiation.</p>
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_RM1_SUB1.png' %}">
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_RM1_SUB2.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--collapse content-->
            <div data-parent="#accordion" class="collapse arrow_box arrow_box_L tabs_large">
                <div class="coll_content">
                    <div class="row">
                        <div class="col-4">
                            <h3>EC1</h3>
                            <p>EC1 is a small commercial development. The development was to extend the rear to full height. It was surrounded by residential and commercial properties.</p>
                            <p>Service Provided:</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Initial Feasibility.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Design Cutbacks.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight Assessment.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Full Rights of Light Report.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Strategic Advice and Negotiation.</p>
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_EC1_SUB1.png' %}">
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_EC1_SUB2.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div data-parent="#accordion" class="collapse arrow_box arrow_box_C tabs_large">
                <div class="coll_content">
                    <div class="row">
                        <div class="col-4">
                            <h3>SW12</h3>
                            <p>SW12 was the redevelopment of an old villa and warehouse. The proposal was to demolish the rear warehouse and create new build to replace it. Further to this to new additions would be integrated either side.</p>
                            <p>Service Provided:</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Initial Feasibility.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Site Optimisation.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Design Cutbacks.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight Assessment.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Assessment of the Proposed Development.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Full Rights of Light Report.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Disposal of property as selling agents.</p>
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_SW12_SUB1.png' %}">
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_SW12_SUB2.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div data-parent="#accordion" class="collapse arrow_box arrow_box_R tabs_large">
                <div class="coll_content">
                    <div class="row">
                        <div class="col-4">
                            <h3>RM1</h3>
                            <p>RM1 consisted of the redevelopment of a site in Romford. The proposal was to provide in 200 homes. The development was surrounded by a number of properties and due to the scale and proximity would cause an impact.</p>
                            <p>Service Provided:</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Initial Feasibility.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Full Rights of Light Report.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Strategic Advice and Negotiation.</p>
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_RM1_SUB1.png' %}">
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_RM1_SUB2.png' %}">
                        </div>
                    </div>
                </div>
            </div>

            <!--row-->
             <div class="row case-row-btm">
                <!--case study row-->
                <div class="row">
                    <!--col-->
                    <div class="col-md-4 padding-new padding-left">
                        <div id="collapse_image7" class="case_box" onclick="toggle_fade(7)">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"><img class="case_img" src="{% static 'home/images/case/CASE_DA14.png' %}">
                                <p class="center_over_case">DA14</p>
                            </a>
                        </div>
                        <div data-parent="#accordion" class="collapse arrow_box arrow_box_L tabs_small">
                            <div class="coll_content">
                                <h3>DA14</h3>
                                <p>DA14 consisted of the demolition of the existing commercial and office blocks. The proposal was to develop the site into 42 residential units. The surrounding properties were a mix of residential and commercial. The scheme was also subject to consented schemes which required assessment.</p>
                                <p>Service Provided:</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight Assessment.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Assessment of the Proposed Development.</p>
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_DA14_SUB1.png' %}">
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_DA14_SUB2.png' %}">
                            </div>
                        </div>
                    </div>
                    <!--col-->
                    <div class="col-md-4 padding-new">
                        <div id="collapse_image8" class="case_box" onclick="toggle_fade(8)">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse8"><img class="case_img" src="{% static 'home/images/case/CASE_NW8.png' %}">
                                <p class="center_over_case">NW8</p>
                            </a>
                        </div>
                        <div data-parent="#accordion" class="collapse arrow_box arrow_box_L tabs_small">
                            <div class="coll_content">
                                <h3>NW8</h3>
                                <p>NW8 was the development of a 19 storey and 10 storey mixed use scheme. It was to provide 190 flats and commercial on the ground floor. The surrounding area is a mix of residential and commercial.</p>
                                <p>Service Provided:</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Site Optimisation.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Design Cutbacks.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight Assessment.</p>
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_NW8_SUB1.png' %}">
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_NW8_SUB2.png' %}">
                            </div>
                        </div>
                    </div>
                    <!--col-->
                    <div class="col-md-4 padding-new padding-right">
                        <div id="collapse_image9" class="case_box" onclick="toggle_fade(9)">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse9"><img class="case_img" src="{% static 'home/images/case/CASE_N2.png' %}">
                                <p class="center_over_case">N2</p>
                            </a>
                        </div>
                        <div data-parent="#accordion" class="collapse arrow_box arrow_box_L tabs_small">
                            <div class="coll_content">
                                <h3>N2</h3>
                                <p>N2 was the re-development of an office block and associated land which provided 80 flats. surrounding area is a mix of residential and commercial. The Architect asked for a massing study to be undertaken to ensure the levels of Daylighting and Sunlighting were not impacted. Finally the choose to design above the scheme and required further cutbacks.</p>
                                <p>Service Provided:</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Site Optimisation.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Design Cutbacks.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight Assessment.</p>
                                <p><div class="spaceb4"></div>•<div class="spacea"></div>Assessment of the Proposed Development.</p>
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_N2_SUB1.png' %}">
                                <img class="case_img margin_btm_mob" src="{% static 'home/images/case/CASE_N2_SUB2.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--collapse content-->
            <div data-parent="#accordion" class="collapse arrow_box arrow_box_L tabs_large">
                <div class="coll_content">
                    <div class="row">
                        <div class="col-4">
                            <h3>DA14</h3>
                            <p>DA14 consisted of the demolition of the existing commercial and office blocks. The proposal was to develop the site into 42 residential units. The surrounding properties were a mix of residential and commercial. The scheme was also subject to consented schemes which required assessment.</p>
                            <p>Service Provided:</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight Assessment.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Assessment of the Proposed Development.</p>
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_DA14_SUB1.png' %}">
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_DA14_SUB2.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div data-parent="#accordion" class="collapse arrow_box arrow_box_C tabs_large">
                <div class="coll_content">
                    <div class="row">
                        <div class="col-4">
                            <h3>NW8</h3>
                            <p>NW8 was the development of a 19 storey and 10 storey mixed use scheme. It was to provide 190 flats and commercial on the ground floor. The surrounding area is a mix of residential and commercial.</p>
                            <p>Service Provided:</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Site Optimisation.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Design Cutbacks.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight Assessment.</p>
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_NW8_SUB1.png' %}">
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_NW8_SUB2.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div data-parent="#accordion" class="collapse arrow_box arrow_box_R tabs_large">
                <div class="coll_content">
                    <div class="row">
                        <div class="col-4">
                            <h3>N2</h3>
                            <p>N2 was the re-development of an office block and associated land which provided 80 flats. surrounding area is a mix of residential and commercial. The Architect asked for a massing study to be undertaken to ensure the levels of Daylighting and Sunlighting were not impacted. Finally the choose to design above the scheme and required further cutbacks.</p>
                            <p>Service Provided:</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Site Optimisation.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Technical Analysis.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Design Cutbacks.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Daylight and Sunlight Assessment.</p>
                            <p><div class="spaceb4"></div>•<div class="spacea"></div>Assessment of the Proposed Development.</p>
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_N2_SUB1.png' %}">
                        </div>
                        <div class="col-4">
                            <img class="case_img" src="{% static 'home/images/case/CASE_N2_SUB2.png' %}">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Scripts-->
<script type="text/javascript" src="{% static 'home/js/case_studies_fade.js' %}" ></script>
<script type="text/javascript" src="{% static 'home/js/case_studies_mobile.js' %}" ></script>
<script type="text/javascript" src="{% static 'home/js/case_studies_nohov.js' %}" ></script>
<script>
window.onload = function () {
    var index     ='{{index|escapejs}}';
    var elementId = "#collapse" + index;
    var elid      = "collapse" + index;
    var qstring   = "a[href='" + elementId + "']";
    var tab       = document.querySelectorAll(qstring);
    var info      = document.getElementById(elid);
    tab[0].classList.remove("collapsed");
    tab[0].setAttribute("aria-expanded", "true");
    info.classList.add("show");
    toggle_fade(index);
    var collapse_image = "#collapse_image" + index;
    collapse_image     = document.querySelector(collapse_image);
    collapse_image.scrollIntoView(true);
};
</script>
{% endblock %}
