{% extends 'home/template.html' %}
{% block content %}

{% load static %}
<!--styles-->
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/case.css' %}" />

<header id="banner_container" class="container">
    <!--img-->
    <img id="banner_img" src="https://placeimg.com/1980/1000/arch" alt="">
</header>


<div class="container bottom_pad">
    <div id="accordion">
        <!--large section-->
        <!--row-->
        <div class="row body_pad">
            <div class="col">
                <h3 class="proj_size">Large Projects</h3>
            </div>
        </div>
        <!--row-->
        <div class="row">
            <!--case study row-->
            <div class="row">
                <!--col-->
                <div class="col-md-4">
                    <div class="case_box">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><img class="case_img" src="https://placeimg.com/1000/1000/arch">
                            <p class="center_over_case">Case Study 1</p>
                        </a>
                    </div>
                </div>
                <!--col-->
                <div class="col-md-4">
                    <div class="case_box">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><img class="case_img" src="https://placeimg.com/1000/1000/arch">
                            <p class="center_over_case">Case Study 2</p>
                        </a>
                    </div>
                </div>
                <!--col-->
                <div class="col-md-4">
                    <div class="case_box">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><img class="case_img" src="https://placeimg.com/1000/1000/arch">
                            <p class="center_over_case">Case Study 3</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--collapse content-->
        <div data-parent="#accordion" id="collapse1" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div data-parent="#accordion" id="collapse2" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div data-parent="#accordion" id="collapse3" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>

        <!--med section-->
        <!--row-->
        <div class="row body_pad">
            <div class="col">
                <h3 class="proj_size">Medium Projects</h3>
            </div>
        </div>
        <!--row-->
        <div class="row">
            <!--case study row-->
            <div class="row">
                <!--col-->
                <div class="col-md-4">
                    <div class="case_box">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><img class="case_img" src="https://placeimg.com/1000/1000/arch">
                            <p class="center_over_case">Case Study 1</p>
                        </a>
                    </div>
                </div>

                <!--col-->
                <div class="col-md-4">
                    <div class="case_box">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><img class="case_img" src="https://placeimg.com/1000/1000/arch">
                            <p class="center_over_case">Case Study 2</p>
                        </a>
                    </div>
                </div>
                <!--col-->
                <div class="col-md-4">
                    <div class="case_box">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><img class="case_img" src="https://placeimg.com/1000/1000/arch">
                            <p class="center_over_case">Case Study 3</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--collapse content-->
        <div data-parent="#accordion" id="collapse4" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div data-parent="#accordion" id="collapse5" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div data-parent="#accordion" id="collapse6" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>

        <!--small section-->
        <!--row-->
        <div class="row body_pad">
            <div class="col">
                <h3 class="proj_size">Small Projects</h3>
            </div>
        </div>
        <!--row-->
         <div class="row">
            <!--case study row-->
            <div class="row">
                <!--col-->
                <div class="col-md-4">
                    <div class="case_box">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"><img class="case_img" src="https://placeimg.com/1000/1000/arch">
                            <p class="center_over_case">Case Study 1</p>
                        </a>
                    </div>
                </div>

                <!--col-->
                <div class="col-md-4">
                    <div class="case_box">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8"><img class="case_img" src="https://placeimg.com/1000/1000/arch">
                            <p class="center_over_case">Case Study 2</p>
                        </a>
                    </div>
                </div>
                <!--col-->
                <div class="col-md-4">
                    <div class="case_box">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9"><img class="case_img" src="https://placeimg.com/1000/1000/arch">
                            <p class="center_over_case">Case Study 3</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--collapse content-->
        <div data-parent="#accordion" id="collapse7" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div data-parent="#accordion" id="collapse8" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div data-parent="#accordion" id="collapse9" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>

    </div>
</div>







{% endblock %}