{% extends 'home/template.html' %}

{% block header %}

{% load static %}
<script type="text/javascript" src="{% static 'home/js/tab_index.js' %}" ></script>

<!--styles-->
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/category.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/dos.css' %}" />

        <div class="container category_container">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <!--jumbo 1-->
                    <div class="jumbotron banner_jumbo " id="left_jumo">
                        <h2 class="jumbo_h">Daylighting and Sunlighting</h2>
                        <p class="jumbo_para justify" >Daylight and Sunlight Assessments are a common requirement of planning application when reviewing the impact, a proposed development will to surrounding properties light. Review of Daylighting and Sunlight levels can be required to a development and/or to the surrounding properties.</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <!--jumbo 2-->
                    <div class="jumbotron banner_jumbo " id="right_jumo">
                        <h2 class="jumbo_h">Our Experience</h2>
                        <p class="jumbo_para justify" >We can provide advice from the beginning stage of a project through a Pre-application and finally onto a Planning Application. The report will assess the properties and the development using the methodologies in the BRE Guidance Site Layout Planning for Daylight and Sunlight. A Guide to Good Practice. Further to this our expertise have provide design advice and we have attended Planning Committee Meetings.</p>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block content %}
<!--body of -->
<main class="container-fluid">
    <!--row-->
    <div class="row rol_b4_case_margin">
        <!--col-->
        <div class="col-md-4 mob_height color-1 rol_box_padding">
            <h3 class="snow">Developer</h3>
            <p class="snow justify">The complication arising through Rights of Light can be significant. As a Developer you are a risk from time and monetary costs that are unlikely to be recouped. Considering Rights of Light at the acquisition stage can benefit you project by negotiating the purchase price or by providing a contingency if such problems arise.</p>
        </div>
        <!--col-->
        <div class="col-md-4 mob_height rol_box_padding">
            <h3>Neighbour</h3>
            <p class="justify">As the owner of a Rights of Light easement you have certain Rights that entitle you to a remedy. Rights of Light is a very specialist subject and dealing with the Developers and their consultants can be confusing, it is best to considering having your own Rights of Light specialist who can look after your best interests.</p>
        </div>
        <!--col-->
        <div class="col-md-4 mob_height color-2 rol_box_padding">
            <h3 class="snow">Received our Letter</h3>
            <p class="snow justify">We may have tried to contact you to discuss a potential Rights of Light issue at your property. We would appreciate if you would take the time to talk to us so that we can explain more.</p>
        </div>

    </div>

    <!--tabs-->
    <h2 id="services_h" >Services</h2>
    <section>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-menu0-tab" data-toggle="tab" href="#nav-menu0" role="tab" aria-controls="nav-home" aria-selected="true">Pre-Acquisition Advice</a>
                <a class="nav-item nav-link" id="nav-menu1-tab" data-toggle="tab" href="#nav-menu1" role="tab" aria-controls="nav-profile" aria-selected="false">Initial Feasibility Report</a>
                <a class="nav-item nav-link" id="nav-menu2-tab" data-toggle="tab" href="#nav-menu2" role="tab" aria-controls="nav-contact" aria-selected="false">Site Optimisation and Feasibility</a>
                <a class="nav-item nav-link" id="nav-menu3-tab" data-toggle="tab" href="#nav-menu3" role="tab" aria-controls="nav-contact" aria-selected="false">Technical Analysis</a>
                <a class="nav-item nav-link" id="nav-menu4-tab" data-toggle="tab" href="#nav-menu4" role="tab" aria-controls="nav-contact" aria-selected="false">Full Rights of Light Assessment</a>
                <a class="nav-item nav-link" id="nav-menu5-tab" data-toggle="tab" href="#nav-menu5" role="tab" aria-controls="nav-contact" aria-selected="false">Strategic Advice and Negotiation</a>
                <a class="nav-item nav-link" id="nav-menu6-tab" data-toggle="tab" href="#nav-menu6" role="tab" aria-controls="nav-contact" aria-selected="false">Easy Reference Chart</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-menu0" role="tabpanel" aria-labelledby="nav-home-tab"><h3>Menu 0</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <div class="tab-pane fade" id="nav-menu1" role="tabpanel" aria-labelledby="nav-profile-tab"><h3>Menu 1</h3>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            <div class="tab-pane fade" id="nav-menu2" role="tabpanel" aria-labelledby="nav-contact-tab"><h3>Menu 2</h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</div>
            <div class="tab-pane fade" id="nav-menu3" role="tabpanel" aria-labelledby="nav-contact-tab"><h3>Menu 3</h3>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
            <div class="tab-pane fade" id="nav-menu4" role="tabpanel" aria-labelledby="nav-contact-tab"><h3>Menu 4</h3>facilisis ex non, fringilla urna. Aliquam sit amet diam ultrices, scelerisque leo in, elementum diam. Nam a.</div>
            <div class="tab-pane fade" id="nav-menu5" role="tabpanel" aria-labelledby="nav-contact-tab"><h3>Menu 5</h3>cursus metus purus vehicula tellus. Ut a quam ullamcorper, facilisis ex non, fringilla urna. Aliquam sit.</div>
            <div class="tab-pane fade" id="nav-menu6" role="tabpanel" aria-labelledby="nav-contact-tab"><h3>Menu 6</h3>quam ullamcorper, facilisis ex non, fringilla urna. Aliquam sit.</div>
        </div>
    </section>

    <hr>

    <!--case study row-->
    <div class="row home_body_pad home_bottom_pad case_correct_padding rol_b4_case_margin">
        <!--col-->
        <div class="col-md-4 padding-new">
            <div class="case_box">
                <a href="{% url 'case_studies_view' index=0%}"><img class="case_img" src="{% static 'home/images/case/CASE_LARGE2_RM1_SQU.jpg' %}">
                    <p class="center_over_case">RM1</p>
                </a>
            </div>
        </div>
        <!--col-->
        <div class="col-md-4 padding-new">
            <div class="case_box">
                <a href="{% url 'case_studies_view' index=0%}"><img class="case_img" src="{% static 'home/images/case/CASE_MED2_SW12_SQU.png' %}">
                    <p class="center_over_case">SW12</p>
                </a>
            </div>
        </div>
        <!--col-->
        <div class="col-md-4 padding-new">
            <div class="case_box">
                <a href="{% url 'case_studies_view' index=0%}"><img class="case_img" src="https://placeimg.com/1000/1000/arch">
                    <p class="center_over_case">XX1</p>
                </a>
            </div>
        </div>
    </div>
</main>

<script>
    window.onload = function () {
    console.log("right file dos");
    var index='{{index|escapejs}}';
    console.log(index);
    if (index==='-99'){
        var tab = document.getElementById("nav-menu0-tab");
        tab.classList.add("active");
        tab.classList.add("show");
        var info = document.getElementById("nav-menu0");
        info.classList.add("active");
        info.classList.add("show");
    }
    else{
        var elementId = "nav-menu" + index+"-tab";
        var tab = document.getElementById(elementId);
        console.log(elementId);
        tab.classList.add("active");
        tab.classList.add("show");
        var elid = "nav-menu" + index;
        var info = document.getElementById(elid);
        info.classList.add("active");
        info.classList.add("show");
    }
    if (index!='0' && index!='-99'){
        var tab = document.getElementById("nav-menu0-tab");
        tab.classList.remove("active");
        tab.classList.remove("show");
        var info = document.getElementById("nav-menu0");
        info.classList.remove("active");
        info.classList.remove("show");
    }

    for (i = 0; i++; i <= 6) {
        if (i != index) {
            var elementId = "nav-menu" + index+"-tab";
            tab = document.getElementById(elementId);
            tab.classList.remove("active")
            tab.classList.remove("show");
            var elid = "nav-menu" + index;
            var info = document.getElementById(elid);
            info.classList.remove("active");
            info.classList.remove("show");
        }
    }
};
</script>
{% endblock %}
