{% extends 'home/template.html' %}
{% block content %}

{% load static %}
<!--styles-->
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/category.css' %}" />

<header id="banner_container" class="container" >
    <!--img-->
    <img id="banner_img" src="https://placeimg.com/1980/1000/arch" alt="">
        <div class=container">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <!--jumbo 1-->
                    <div class="jumbotron banner_jumbo " id="left_jumo">
                        <h2 class="jumbo_h">Lorem ipsum</h2>
                        <p class="jumbo_para" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum, mauris vel iaculis auctor, velit nisi mattis turpis, eu cursus metus purus vehicula tellus. Ut a quam ullamcorper, facilisis ex non, fringilla urna. Aliquam sit amet diam ultrices, scelerisque leo in, elementum diam. Nam a nunc rutrum, rhoncus diam eget, vulputate leo. Donec vitae elit interdum, maximus orci auctor, dictum mi. Vestibulum rutrum neque non diam aliquet efficitur. Mauris sagittis venenatis placerat.</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <!--jumbo 2-->
                    <div class="jumbotron banner_jumbo " id="right_jumo">
                        <h2 class="jumbo_h">Lorem ipsum</h2>
                        <p class="jumbo_para" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum, mauris vel iaculis auctor, velit nisi mattis turpis, eu cursus metus purus vehicula tellus. Ut a quam ullamcorper, facilisis ex non, fringilla urna. Aliquam sit amet diam ultrices, scelerisque leo in, elementum diam. Nam a nunc rutrum, rhoncus diam eget, vulputate leo. Donec vitae elit interdum, maximus orci auctor, dictum mi. Vestibulum rutrum neque non diam aliquet efficitur. Mauris sagittis venenatis placerat.</p>
                    </div>
                </div>
            </div>
        </div>
</header>

<!--body of -->
<main class="container-fluid cont_pad">
    <!--gray row-->
    <div class="row gray_bar_pad">
        <img class="rics_logo float-right" src="{% static 'home/images/rics_logo.png' %}" alt="RICS Logo">
    </div>

    <!--tabs-->
    <h2 id="services_h" >Services</h2>
    <section>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-menu0-tab" data-toggle="tab" href="#nav-menu0" role="tab" aria-controls="nav-home" aria-selected="true">Menu 0</a>
                <a class="nav-item nav-link" id="nav-menu1-tab" data-toggle="tab" href="#nav-menu1" role="tab" aria-controls="nav-profile" aria-selected="false">Menu 1</a>
                <a class="nav-item nav-link" id="nav-menu2-tab" data-toggle="tab" href="#nav-menu2" role="tab" aria-controls="nav-contact" aria-selected="false">Menu 2</a>
                <a class="nav-item nav-link" id="nav-menu3-tab" data-toggle="tab" href="#nav-menu3" role="tab" aria-controls="nav-contact" aria-selected="false">Menu 3</a>
                <a class="nav-item nav-link" id="nav-menu4-tab" data-toggle="tab" href="#nav-menu4" role="tab" aria-controls="nav-contact" aria-selected="false">Menu 4</a>
                <a class="nav-item nav-link" id="nav-menu5-tab" data-toggle="tab" href="#nav-menu5" role="tab" aria-controls="nav-contact" aria-selected="false">Menu 5</a>
                <a class="nav-item nav-link" id="nav-menu6-tab" data-toggle="tab" href="#nav-menu6" role="tab" aria-controls="nav-contact" aria-selected="false">Menu 6</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-menu0" role="tabpanel" aria-labelledby="nav-home-tab"><h3>Menu 0</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <div class="tab-pane fade" id="nav-menu1" role="tabpanel" aria-labelledby="nav-profile-tab"><h3>Menu 1</h3>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            <div class="tab-pane fade" id="nav-menu2" role="tabpanel" aria-labelledby="nav-contact-tab"><h3>Menu 2</h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</div>
            <div class="tab-pane fade" id="nav-menu3" role="tabpanel" aria-labelledby="nav-contact-tab"><h3>Menu 3</h3>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
            <div class="tab-pane fade" id="nav-menu4" role="tabpanel" aria-labelledby="nav-contact-tab"><h3>Menu 4</h3>facilisis ex non, fringilla urna. Aliquam sit amet diam ultrices, scelerisque leo in, elementum diam. Nam a.</div>
            <div class="tab-pane fade" id="nav-menu5" role="tabpanel" aria-labelledby="nav-contact-tab"><h3>Menu 5</h3>cursus metus purus vehicula tellus. Ut a quam ullamcorper, facilisis ex non, fringilla urna. Aliquam sit.</div>
            <div class="tab-pane fade" id="nav-menu6" role="tabpanel" aria-labelledby="nav-contact-tab"><h3>Menu 6</h3>quam ullamcorper, facilisis ex non, fringilla urna. Aliquam sit.</div>
        </div>
    </section>

    <hr>
    <!---col's-->
    <!--row-->
    <div class="row">
        <!--col-->
        <div class="col-md-4">
            <h3>Developer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum, mauris vel iaculis auctor, velit nisi mattis turpis, eu cursus metus purus vehicula tellus. Ut a quam ullamcorper, facilisis ex non, fringilla urna. Aliquam sit amet diam ultrices, scelerisque leo in, elementum diam. Nam a nunc rutrum, rhoncus diam eget, vulputate leo. Donec vitae elit interdum, maximus orci auctor, dictum mi. Vestibulum rutrum neque non diam aliquet efficitur. Mauris sagittis venenatis placerat.</p>
        </div>
        <!--col-->
        <div class="col-md-4">
            <h3>Neighbour</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum, mauris vel iaculis auctor, velit nisi mattis turpis, eu cursus metus purus vehicula tellus. Ut a quam ullamcorper, facilisis ex non, fringilla urna. Aliquam sit amet diam ultrices, scelerisque leo in, elementum diam. Nam a nunc rutrum, rhoncus diam eget, vulputate leo. Donec vitae elit interdum, maximus orci auctor, dictum mi. Vestibulum rutrum neque non diam aliquet efficitur. Mauris sagittis venenatis placerat.</p>
        </div>
        <!--col-->
        <div class="col-md-4">
            <h3>Received our Letter</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum, mauris vel iaculis auctor, velit nisi mattis turpis, eu cursus metus purus vehicula tellus. Ut a quam ullamcorper, facilisis ex non, fringilla urna. Aliquam sit amet diam ultrices, scelerisque leo in, elementum diam. Nam a nunc rutrum, rhoncus diam eget, vulputate leo. Donec vitae elit interdum, maximus orci auctor, dictum mi. Vestibulum rutrum neque non diam aliquet efficitur. Mauris sagittis venenatis placerat.</p>
        </div>

    </div>
</main>

<!--scripts-->
<script>
    window.onload = function () {
        var index='{{index|escapejs}}';
        console.log(index);
        if (index==='-99'){
            var tab = document.getElementById("nav-menu0-tab");
            tab.classList.add("active");
        }
        else{
            var elementId = "nav-menu" + index+"-tab";
            var tab = document.getElementById(elementId);
            console.log(elementId);
            tab.classList.add("active");
        }


        for (i = 0; i++; i <= 6) {
            if (i != index) {
                var elementId = "nav-menu" + index+"-tab";
                tab = document.getElementById(elementId);
                tab.classList.remove("active")
            }
        }
    };
</script>
{% endblock %}