#about_story {
    text-align: center;
}

.about_bottom {
    text-align: center;
}

#link_list {
    display: flex;
    flex-direction: column;
}

.about_links {
    color: var(--black);
}

.about_links:hover {
    color: var(--black);
}