#banner_container {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    min-width: 100%;
    min-height: 500px;
}

#banner_img{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner_jumbo {
    z-index: 100;
    background-color: rgba(255, 249, 251, 0.8);
    max-width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px;
}

#left_jumo {
    margin-right: 7.5px;
}

#right_jumo {
    margin-left: 7.5px;
}

.jumbo_h {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

#services_h {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.nav-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav-tabs .nav-link {
    color: var(--med-gray);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--black);
    font-weight: bold;
}

.enq_jumbo {
    padding: 6px 8px 1px 8px;
    margin: 0px;
}

#enquire_widget {
    position: fixed;
    bottom: 40px;
    right: 50px;
    user-select: none;
    opacity: 1;
    display: block;
    transition: 0.5s;
    z-index: 100;
}

#enquire_widget:hover {
    cursor: pointer
}

.enquire_widget_translate {
    opacity: 0 !important;
}

#enquire_widget_mini {
    position: fixed;
    bottom: 20px;
    right: 60px;
    user-select: none;
    opacity: 1;
    display: none;
    z-index: 100;
    transition: 0.5s;
}

#phone_widget_mini {
    position: fixed;
    bottom: 20px;
    right: 20px;
    user-select: none;
    opacity: 1;
    display: none;
    z-index: 100;
    transition: 0.5s;
}

#enquire_widget_mini:hover {
    cursor: pointer
}

#phone_widget_mini:hover {
    cursor: pointer
}

#enquire_widget_jumo {
    background-color: var(--light-gray);
}

#enquire_widget_jumo_mini {
    background-color: var(--light-gray);
    border-radius: 10px 0px 0px 10px;
}

#phone_widget_jumo_mini {
    background-color: var(--light-gray);
    border-radius: 0px 10px 10px 0px;
}
/*
.playstate {
    animation-play-state: paused  !important;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
*/

.shake {
    transition: transform .4s;
}

.shake:hover, .shake:focus {
    /*animation: shake 0.5s;
    animation-iteration-count: infinite;*/
    transform: scale(1.05);
}

#popup_jumbo {
    background-color: var(--light-gray);
    padding: 15px;
    z-index: 100;
    position: fixed;
    bottom: -392px;
    right: 50px;
    margin-left: 100px;
    visibility: hidden;
    transition: 0.7s;
    /*transition-timing-function: cubic-bezier(0.39, 1.46, 0.91, 1.32);*/
}

.popup_jumbo_translate {
    bottom: 8px !important;
    visibility: visible !important;
    transition: 1s;
}

#form_heading {
    float: left;
}

#close_popup {
    float: right;
    user-select: none;
}

#close_popup:hover {
    cursor: pointer
}

#descript_field {
    max-height: 152px;
    min-height: 38px;
}

.contact-form {
    padding-bottom: 10px;
}

.enquire_radio {
    margin-right: 10px;
    margin-top: 5px;
}

.enquire_radio_circle {
    margin-right: 5px;
    margin-top: 8px;
}

.enquire_button {
    margin-left: 10px;
}

/*
@media (max-width: 991px) {
    .jumbo_para {
        font-size: 1.7vw;
    }
}
*/
@media (max-width: 767px) {
    #popup_jumbo {
        bottom: -472px; /*133px taller*/
        right: 20px;
        margin-left: 20px;
    }

    #enquire_widget {
        display: none;
    }

    #enquire_widget_mini {
        display: block;
    }

    #phone_widget_mini {
        display: block;
    }

    .popup_jumbo_translate {
        bottom: 20px !important;
        visibility: visible !important;
        transition: 1s;
    }

    .shake:hover, .shake:focus {
        transform: scale(1.1);
    }
}