#enquire_widget {
    visibility: visible;
}

#enquire_widget_mini {
    visibility: visible;
}

#phone_widget_mini {
    visibility: visible;
}

.banner_jumbo {
    z-index: 100;
    background-color: rgba(255, 249, 251, 0.8);
    max-width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px;
}

#left_jumo {
    margin-right: 7.5px;
}

#right_jumo {
    margin-left: 7.5px;
    background-color: rgba(51, 51, 51, 0.8);
    color: var(--snow);
}

.jumbo_h {
    font-weight: bold;
}

hr {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.cont_pad {
    padding-bottom: 3rem;
}

.justify {
    text-align: justify;
}

.rol_b4_case_margin {
    margin-bottom: 2rem;
}

#services_h {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.nav-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.nav-tabs .nav-link {
    color: var(--med-gray);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--black);
    font-weight: bold;
}

.nav-tabs .nav-link {
    color: var(--snow) ;
    background-color: var(--brand-col);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.nav-tabs .nav-item {
    text-align: center !important;
    width: 14% !important;
}

.color {
    padding-top: 15px;
}

@media (max-width: 1192px) {
    .nav-tabs .nav-item {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 767px) {
    .nav-tabs .nav-item {
        width: 32.5% !important;
        margin-bottom: 5px;
        height: 54px;
    }
}

@media (max-width: 464px) {
    .nav-tabs .nav-item {
        padding-left: 0px;
        padding-right: 0px;
        height: inherit;
    }
}