/*Colour Scheme
#C5C1C0 light gray
#0A1612 steel
#1a2930? denim
#B50A37 reddish brand awh branding
*/

:root {
    --light-gray: #C5C1C0;
    --dark-gray: #0A1612;
}

/*restyle nav bar*/
    .bg-dark {
        background-color: var(--dark-gray) !important;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: var(--light-gray);
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: white;
    }

.footer {
    background-color: var(--dark-gray);
    padding: 10px;
    color: var(--light-gray);
}

.footer_col_h {
    font-size: 14px;
    margin-bottom: 0px;
}

.footer-link {
    color: var(--light-gray);
    font-size: 12px;
    text-decoration: underline;
}

.footer-link:hover {
    color: white;
}

.footer_copy {
    font-size: 10px;
    padding-left: 15px;
    padding-top: 20px;
}