/*Colour Scheme
#F4F4F4 light gray
#373737 med gray
#000000 black
#FFFFFF white
#B50A37 reddish brand awh branding
*/

:root {
    --light-gray: #F4F4F4;
    --med-gray: #373737;
    --brand-col: #B50A37;
    --font-fam: "quatro",sans-serif;
}

#nav_logo_img {
    height: 50px;
}

/*restyle nav bar*/
    .bg-dark {
        background-color: var(--med-gray) !important;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: var(--light-gray);
        font-family: var(--font-fam);
        margin-right: 25px;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: white;
    }

    .navbar {
        min-height: 80px;
    }

.footer {
    background-color: var(--med-gray);
    padding: 10px;
    color: var(--light-gray);
}

.footer_col_h {
    font-size: 14px;
    font-family: var(--font-fam);
    margin-bottom: 0px;
}

.footer-link {
    color: var(--light-gray);
    font-size: 12px;
    font-family: var(--font-fam);
    text-decoration: underline;
}

.footer-link:hover {
    color: white;
}

.footer_copy {
    font-size: 10px;
    padding-left: 15px;
    padding-top: 20px;
}