/*Colour Scheme 2
#D3D4D9 light gray
#38393A med gray
#14080E black
#FFF9FB snow
#B50A37 reddish brand awh branding
*/

:root {
    --light-gray: #D3D4D9;
    --med-gray: #38393A;
    --brand-col: #B50A37;
    --font-fam: "museo-sans",sans-serif;
    --snow: #FFF9FB;
}

body {
    background-color: var(--snow);
    font-family: var(--font-fam);
}

#nav_logo_img {
    height: 50px;
}

/*restyle nav bar*/
    .bg-dark {
        background-color: var(--med-gray) !important;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: var(--light-gray);
        margin-right: 25px;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: var(--snow);
    }

    .navbar {
        min-height: 80px;
    }

.footer {
    background-color: var(--med-gray);
    padding: 10px;
    color: var(--light-gray);
}

.footer_col_h {
    font-size: 14px;
    margin-bottom: 0px;
}

.footer-link {
    color: var(--light-gray);
    font-size: 12px;
    text-decoration: underline;
}

.footer-link:hover {
    color: white;
}

.footer_copy {
    font-size: 10px;
    padding-left: 15px;
    padding-top: 20px;
}