#enquire_widget {
    visibility: hidden;
}

#enquire_widget_mini {
    visibility: hidden;
}

#phone_widget_mini {
    visibility: hidden;
}

.stack_em {
    flex-direction: column;
}

#enquire_jumo {
    background-color: rgba(255, 249, 251, 0.8);
    margin: auto;
    width: 767px;
    padding: 0px;
    z-index: 100;
}

#comment {
    resize: none;
    height: 76px;
}

.contact-form {
    padding-bottom: 10px;
}

.enquire_radio {
    margin-right: 10px;
    margin-top: 5px;
}

.enquire_radio_circle {
    margin-right: 5px;
    margin-top: 8px;
}

.enquire_button {
    background-color: var(--brand-col);
    height: 38px;
    width: 115px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
    color: var(--snow);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.attach_btn {
    height: 38px;
    padding: 0px;
    margin: 0px;
    background-color: var(--brand-col);
    color: var(--snow);
    width: 115px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.attach_btn:hover {
    cursor: pointer;
}

#id_attach {
    max-width: 212px;
    background-color: transparent;
    height: 38px;
    padding: 0px;
    border: 0px;
    display: none;
}

#expert {
    text-align: center;
    color: var(--snow);
    font-weight: bold;
    font-size: 50px;
    color: var(--snow);
    z-index: 100;
    position: relative;
    top: -30px;
}

.mini_txt {
    /*text-align: center;*/
    font-size: 20px;
    color: var(--black);
}

.home_email {
    font-size: 20px;
    color: var(--black);
}

.home_email:hover {
    color: var(--black);
}

.fact_col {
    height: 33.33vw;
}

.fact_col:hover .facts {
    line-height: 1;
    cursor: default;
}

.line2 {
    line-height: 2;
    transition: line-height 0.5s;
}

.fact_col:hover .line2 {
    line-height: 1;
}

.facts{
    /*text-align: center;*/
    font-size: 3vw;
    color: var(--black);
    line-height: 1.5;
    transition: line-height 0.5s;
}

.no_hover {
    line-height: 1;
}

.facts_bold {
    font-weight: bold;
}

.facts90 {
    font-size: 5vw;
}

.facts80 {
    font-size: 4.5vw;
}

.facts30 {
    font-size: 2vw;
}

.snow {
    color: var(--snow);
}

.about_btn {
    height: 4vw;
    padding: 0px;
    margin: 0px;
    background-color: var(--snow);
    color: var(--black);
    width: 12vw;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    font-size: 2vw;
}

.fact_col:hover .about_btn {
    background-color: var(--brand-col);
    color: var(--snow);
}

.about_btn_no_hov {
    background-color: var(--brand-col);
    color: var(--snow);
}

.large_phone {
    font-size: 10vw;
    color: var(--snow);
    position: absolute;
    right: 5vw;
    bottom: 5vw;
}

.fact_col:hover .large_phone {
    color: var(--brand-col);
}

.large_phone_no_hov {
    color: var(--brand-col);
}

.clickable:hover {
    cursor: pointer;
    color: var(--brand-col);
    text-decoration: none;
}

.fact_col:hover .clickable {
    cursor: pointer;
}

#news {
    font-size: 30px;
    padding-top: 15px;
}

.tel_num {
    font-size: 22px;
    color: var(--black);
}

.more_info {
    font-size: 1.5vw;
    line-height: 1;
    position: absolute;
    top: 60%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}

.half {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fact_col:hover .more_info {
    opacity: 1;
    transform: translateY(-50px);
    transition: opacity 0.5s, transform 0.5s;
}

.no_hover_info {
    opacity: 1;
    transform: translateY(-50px);
    transition: opacity 0.5s, transform 0.5s;
}

.home_bottom_pad {
    padding-bottom: 4rem;
}

.what_we_do {
    font-size: 30px;
}

.mini_cont {
    padding-top: 15px;
    background-color: var(--med-gray);
}

.box_split {
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.re_pad {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.box_split_2 {
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--teal);
    flex: 1 1 auto;
}

.rowflex {
    display: flex;
    justify-content: space-evenly;
}

.news_btn {
    cursor: pointer;
    background-color: var(--brand-col);
    color: var(--snow);
    padding: 5px;
}

.map_container {
    max-width: 100%;
    padding-top: 100%;
}

#map_frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.jumbotron, .form-control {
    border-radius: 0;
}

#contact-form {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#jumbo_heading {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: var(--brand-col);
    color: var(--snow);
}

#submit_btn {
    background-color: var(--brand-col);
    color: var(--snow);
    border: 0px;
}

.none {
    display: none;
}

@media (max-width: 767px) {
    #expert {
        top: 0px;
    }

    #enquire_jumo {
        width: auto;
    }


    .fact_col {
        height: 100vw;
    }

    .facts{
        font-size: 9vw;
    }

    .facts90 {
        font-size: 15vw;
    }

    .facts80 {
        font-size: 13.5vw;
    }

    .facts30 {
        font-size: 6vw;
    }

    .about_btn {
        height: 12vw;
        padding: 0px;
        margin: 0px;
        width: 36vw;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        right: 3vw;
        bottom: 3vw;
        font-size: 6vw;
    }

    .large_phone {
        font-size: 30vw;
        right: 15vw;
        bottom: 15vw;
    }

    .more_info {
        font-size: 4.5vw;
    }

}